html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}
body {
		background: #E9EBEE;
		margin: 0px;
		font-family: Arial,Helvetica Neue,Helvetica,sans-serif; 
	}

.imNotThefather{
	position: absolute;
	width: 100%;
	height: 300%;
	top: 0px;
	left: 0px;
	z-index: 9;
	background-color: black;
	display: block;
	opacity: 0.5;
	overflow: hidden;
	transition: all 0.2s;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
