.nofkinwrap{
    text-overflow: ellipsis;
    white-space: nowrap;
}
.main-option-icons{
  padding-right: 5px;
  padding-left: 5px;
  opacity: .5;
  cursor: pointer;
  font-size: 20px;
  &:hover{
    opacity: 1;
  }
}
.fixTopIndex{
   z-index: 12;
}
.search {
  position: relative;
  width: 70%;
  display: inline-block;
  .searchContent {
    background-color: white;
    border: 1px #D9D9D9 solid;
    border-radius: 2px;
    height: 290px;
    width: 100%;
    position:absolute;
    top:29px;
    left: 0px;
    z-index: 20;
    .src-highlight{
      background-color: #F5F6F7;
      padding: 5px;
      height: 25px;
      text-transform: uppercase;
      color: #9599A0;
      font-size: 12px;
      font-weight: bold;
      border-bottom: 1px #E9EAED solid;
      border-top: 1px #E9EAED solid;
    }
    .src-normal {
      height: 32px;
      cursor: pointer;
        &:hover{
          background-color: #ECF0F7;
        }
        .src-img{
          width: 30px;
          float: left;
          margin-left: 5px;
          img{
             border-radius: 50%;
          }
        }
        .src-name{
          margin-left: 5px;
          float: left;
          padding-top: 5px;
        }
      }
    
    .searching-box{
      width: 100%;
    }
    .src-toBot{
        position: absolute;
        bottom: 0px;
      }
  }
  .searchTerm {
    float: left;
    width: 100%;
    border: 1px solid #3B5998;
    padding: 5px;
    margin-top: 4px;
    height: 25px;
    border-radius: 2px;
    outline: none;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 16px;
    white-space: nowrap;
    min-width: 200px;
        &::placeholder {
           opacity: 0.5; 
    }
  }
  .searchButton {
    float: left;
    width: 45px;
    height: 20px;
    margin-left: -45px;
    margin-top: 7px;
    z-index: 5;
    background: white;
    text-align: center;
    color: #525A6A;
    
    cursor: pointer;
    font-size: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:hover {
      background-color: #F5F6F7;
    }
  }

}
.right-option-icons{
  float: left;
  width: 120px;
  height: 25px;
   text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 2px;
    text-align: center;
}
.right-option{
  float: left;
  width: 100px;
  height: 25px;
   text-overflow: ellipsis;
    white-space: nowrap;
    border-radius: 2px;
    cursor: pointer;
    border-right: #3B5CA0 1px solid;
    text-align: center;
}
.box-option-icons{
  width: 100%;
  padding-top: 5px;
  padding-left: 5px;
   text-overflow: ellipsis;
    white-space: nowrap;
  text-align: center;
}
.box-option{
  width: 100%;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 12px;
  color: white;
  font-weight: bold;
   text-overflow: ellipsis;
    white-space: nowrap;
  text-align: center;
}
.right-option:hover{
  background-color: #3B5CA0;
}
.user-photo{
   float: left;
   img{
      border-radius: 50%;
   }
}
.user-name{
  float: left;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 12px;
  color: white;
  font-weight: bold;
   text-overflow: ellipsis;
    white-space: nowrap;
}


.Top {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4267B2;
    position: fixed;
    width: 100%;
	height: 44px;
	 clear:none;
  border-bottom: #29487D 1px solid;
    text-overflow: ellipsis;
    white-space: nowrap;
  z-index: 5;
	.top-left{
		float: left;
		width: 500px;
		//background-color: lightgreen;
    min-width: 300px;
    
	}
	.top-right{
		width: 500px;
		//background-color: lightcoral;
    min-width: 300px;
	}
	.top-logo{
    font-size: 20px;
		font-weight: bolder;
    color: white;
    padding-top: 7px;
    float: left;
    width: 100px;
     position: relative;
	}
}


